<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
</head>
<style>
body {
    background-color: white;
}
form {
    background-color: #f1f1f150;
}
.e7 {
    padding: 20px;
}
.b5 {
    background-color: rgb(27, 120, 207);
    margin: 55px;
    padding: 10px;
}
input {
    margin-top: 10px;
}
input:hover {
    border: 2px solid hsla(240, 100%, 50%);
    border-radius: 7px;
}
::placeholder {
    color: blue;
}
 </style>
<div class="b5">
<form method="POST" action="{{ url_for('shortener.create_link') }}" style="max-width: 800px;">
    <div class="e7">
        <label for="original-url" style="font-size: 28px; color: hsl(240, 100%, 50%); font-weight: bold;">
            Original URL
        </label>  
        <input type="text" style="height: 30px; width: 700px;" class="form" max-width="800px" placeholder =" Enter URL" name="original_url" />
    </div>
    <button type="submit" class="btn btn-primay" style="background-color: hsl(240, 100%, 50%); color: white; padding: 10px 30px; margin-bottom: 6px; margin-left: 3px;"><b>Submit</b></button>
</form>
</div>
<body>
</body>

</html>
